.content-box-large .table>thead>tr>th, 
.content-box-large .table>tbody>tr>th, 
.content-box-large .table>tfoot>tr>th, 
.content-box-large .table>thead>tr>td,
.content-box-large .table>tbody>tr>td,
.content-box-large .table>tfoot>tr>td{
	border-top: 0px;
	vertical-align: middle;
}
.content-box-large .table>tbody>tr>td.vertical-top{
	vertical-align:top;
}
.sidebar .nav > li {
	margin: 0;
	border-bottom: 1px solid #eee;
	padding: 5px;
}
.btn-add-pages{
	font-weight: 300;
	font-family: sans-serif;
}
.btn-add-pages {
	font-weight: 300;
	font-family: sans-serif;
	outline: 0;
	font-size: 12px;
	padding: 5px 8px;
	margin-bottom: 5px;
	margin-right: 5px;
	border-radius: 0px;
}
.wrapper-pages table {
	background:#ffffff;
}
.wrapper-pages table>thead>tr>th {
	font-weight: 400;
	padding: 10px;
	text-transform: uppercase;
	border-bottom: 0px;
}
.wrapper-pages table>tbody>tr>td {
	padding: 15px 10px;
	vertical-align:middle;
}
.header-pages ul{
	list-style: none;
	padding-left: 0;
}
.header-pages ul li{
	float: left;
	padding: 1px;
}
.header-pages ul li select{
	width: 150px;
	border-radius: 0;
	padding: 4px;
	line-height: 30px;
	height: 30px;
}
.header-pages{
	padding-bottom: 40px;
}

.action_excute{
	display: inline-block;
	text-decoration: none;
	font-size: 13px;
	line-height: 28px;
	height: 28px;
	margin: 0;
	padding: 0 10px 1px;
	cursor: pointer;
	border-width: 1px;
	border-style: solid;
	-webkit-appearance: none;
	border-radius: 3px;
	white-space: nowrap;
	box-sizing: border-box;
}
.wrapper-pages a{
	color: #428bca;
	font-weight: 500;
}
.wrapper-pages a:hover{
	text-decoration: none;

}
.action-items{
	padding-right:15px;
}
.action-items a:nth-child(1){
	padding-right: 30px;
}
#cke_ckeditor_standard{
	margin-top:15px;
}
.btn-add{
	margin-top:10px;
}

.sk-cube-grid {
	width: 50px;
	height: 50px;
	margin: 0px auto;
	z-index: 1;
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%);
}

.sk-cube-grid .sk-cube {
	width: 33%;
	height: 33%;
	background-color: #fbb044;
	float: left;
	-webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
	animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}

.sk-cube-grid .sk-cube1 {
	-webkit-animation-delay: 0.2s;
	animation-delay: 0.2s;
}

.sk-cube-grid .sk-cube2 {
	-webkit-animation-delay: 0.3s;
	animation-delay: 0.3s;
}

.sk-cube-grid .sk-cube3 {
	-webkit-animation-delay: 0.4s;
	animation-delay: 0.4s;
}

.sk-cube-grid .sk-cube4 {
	-webkit-animation-delay: 0.1s;
	animation-delay: 0.1s;
}

.sk-cube-grid .sk-cube5 {
	-webkit-animation-delay: 0.2s;
	animation-delay: 0.2s;
}

.sk-cube-grid .sk-cube6 {
	-webkit-animation-delay: 0.3s;
	animation-delay: 0.3s;
}

.sk-cube-grid .sk-cube7 {
	-webkit-animation-delay: 0s;
	animation-delay: 0s;
}

.sk-cube-grid .sk-cube8 {
	-webkit-animation-delay: 0.1s;
	animation-delay: 0.1s;
}

.sk-cube-grid .sk-cube9 {
	-webkit-animation-delay: 0.2s;
	animation-delay: 0.2s;
}

@-webkit-keyframes sk-cubeGridScaleDelay {
	0%, 70%, 100% {
		-webkit-transform: scale3D(1, 1, 1);
		transform: scale3D(1, 1, 1);
	}

	35% {
		-webkit-transform: scale3D(0, 0, 1);
		transform: scale3D(0, 0, 1);
	}
}

@keyframes sk-cubeGridScaleDelay {
	0%, 70%, 100% {
		-webkit-transform: scale3D(1, 1, 1);
		transform: scale3D(1, 1, 1);
	}

	35% {
		-webkit-transform: scale3D(0, 0, 1);
		transform: scale3D(0, 0, 1);
	}
}
.status-box span{
	padding-right: 10px;
}
.back-link {
	margin-bottom:10px;
}
.wrapper-pages .table.dataTable.no-footer{
	border-bottom: 0px;
}
footer{
	margin-top: 15px;
	padding: 20px;
}
.wrapper-pages .dataTables_wrapper .dataTables_paginate .paginate_button{
	box-sizing: border-box;
	display: inline-block;
	min-width: 1.5em;
	padding: 0px 10px;
	margin-left: 2px;
	text-align: center;
	text-decoration: none !important;
	cursor: pointer;
	color: #333 !important;
	border: 1px solid transparent;
	outline:none;
}
.wrapper-pages .dataTables_wrapper .dataTables_paginate{
	margin-top: 15px;
}
input[name="search"]{
	padding: 4px 12px;
	height: 29px;
	font-size: 12px;
	width:300px;
	display:inline-block
}
.search-box{
	margin-bottom:5px;
	padding:5px;
}
.manage-menus {
	margin-top: 10px;
	padding: 10px;
	margin-right: 15px;
	overflow: hidden;
	font-family: 'Roboto',sans-serif;
	background: #ffffff;
}
.manage-menus .selected-menu, .manage-menus .submit-btn, .manage-menus select, .nav-menus-php .add-new-menu-action {
	display: inline-block;
	margin-right: 3px;
	vertical-align: middle;
}
.manage-menus select, .menu-location-menus select {
	max-width: 100%;
}
.manage-menus .selected-menu, .manage-menus .submit-btn, .manage-menus select, .nav-menus-php .add-new-menu-action {
	display: inline-block;
	margin-right: 3px;
	vertical-align: middle;
}
.manage-menus .selected-menu, .manage-menus .submit-btn, .manage-menus select, .nav-menus-php .add-new-menu-action {
	display: inline-block;
	margin-right: 3px;
	font-weight: 300;
	vertical-align: middle;
}
.manage-menus select {
	padding: 2px;
	line-height: 28px;
	height: 28px;
	border: 1px solid #f0f0f0;
}
.wp-core-ui .button, .wp-core-ui .button-primary, .wp-core-ui .button-secondary ,.button{
	display: inline-block;
	text-decoration: none;
	font-size: 13px;
	line-height: 26px;
	height: 28px;
	margin: 0;
	padding: 0 10px 1px;
	cursor: pointer;
	border-width: 1px;
	border-style: solid;
	-webkit-appearance: none;
	border: 1px solid #f0f0f0;
	border-radius: 3px;
	white-space: nowrap;
	box-sizing: border-box;
}
.btn-add-menu,.btn-add-menu:hover{
	background: #35bfa3;
	border-color: #35bfa3;
	margin-top: 13px;
	padding: 6px 15px !important;
}
.btn-add-menu:before{
	content: '+';
	padding-right: 5px;
}
.menu-name{
	border-radius: 5px;
	padding-left: 10px;
	box-shadow: none;
	border: 1px solid #f0f0f0;
	font-weight: 100;
	margin-left: 5px;
	min-width: 200px;
}

.body{
	background: #fff;
	padding: 17px;
	border-top: 1px solid #eff0f3;
	border-bottom: 1px solid #eff0f3;
}
.manage-management .body li {
	border: 1px solid #ddd;
	position: relative;
	height: auto;
	margin-bottom: 6px;
	min-height: 20px;
	width: 382px;
	line-height: 30px;
	overflow: hidden;
	word-wrap: break-word;
	background: #ffff;
}
.manage-management h3{
	margin-top: 0px;
	font-size: 14px;
	font-weight: 300;
	text-transform:  uppercase;
}
.body-menu{
	display: none;
}
.manage-management ul{
	padding-left: 0px;
}
.manage-management .footer{
	background: #fff;
	padding: 15px;
}
.vertical-top{
	vertical-align: top;
}
.checkbox-inline input{
	position: absolute;
	margin-top: 9px;
}
.menu-name-label{
	background: #fafafa;
	padding: 5px 15px;
}
.body-menu {
	padding: 4px 15px 15px;
}
.action-menu{
	text-decoration: underline;
}
.remove-items-menu{
	color:red;
}
.wrapper-action-menu{
	margin-top:10px;
}
.menu-name-label:after{
	content: "\f0d7";
	font-family: FontAwesome;
	float: right;
}

.open.menu-name-label:after{
	content: "\f0d8" !important;
	font-family: FontAwesome;
	float: right;
}
.padding-left-zero{
	padding-left:0px;
}
.frm-add-menu-item{
	padding: 10px 15px;
}
.margin-top-10{
	margin-top:10px;
}
.manage-menus-right{
	background:#fff;
	padding:15px;
	margin-top:10px;
	border-radius:5px;
}
.manage-management{
	margin-top: 15px
}
.remove-menu{
	margin-top: 10px;
}
.action-table{
	margin-bottom: 10px;
}
.action-table select{
	padding: 2px;
	line-height: 28px;
	height: 28px;
	border: 1px solid #f0f0f0
}
.btn-submit-menu{
	margin-top: 10px;
}
.m-grid__item.m-grid__item--fluid.m-wrapper{
	margin: 15px;
}
.m-wrapper-user .m-datatable__table tr td,
.m-wrapper-user .m-datatable__table tr th{
	vertical-align: top !important;
	text-align: center;
}
.title-header-top{
	padding: 15px 0px;
}
.btn-save-users {
	margin-top: 15px;
}
.btn-save-users i{
	margin-top: -5px;
	padding: 5px;
}
[data-letters]:before {
	content:attr(data-letters);
	display:inline-block;
	font-size:1.3em;
	width:2.3em;
	height:2.3em;
	line-height:2.3em;
	text-align:center;
	border-radius:50%;
	background:#22b9ff;
	vertical-align:middle;
	margin-right:1em;
	color:white;
}
[data-letter]:before {
	content:attr(data-letter);
	display:inline-block;
	font-size:1.6em;
	width:2.6em;
	height:2.6em;
	line-height:2.6em;
	text-align:center;
	border-radius:50%;
	background:#22b9ff;
	vertical-align:middle;
	color:white;
}
@media only screen and (max-width: 1024px) {
	[data-letters]:before {
		content:attr(data-letters);
		display:inline-block;
		font-size:1em;
		width:2.3em;
		height:2.3em;
		line-height:2.3em;
		text-align:center;
		border-radius:50%;
		background:#22b9ff;
		vertical-align:middle;
		margin-right:1em;
		color:white;
	}
}
@media only screen and (min-width: 896px) {
	.menu-order-horizotal ul li{
		display: inline-block !important;
		vertical-align: top;
	}
}
.none-text-decoration{
	text-decoration: none;
}
.m-nav .m-nav__item>.m-nav__link{
	width: auto;
}
.m-portlet.m-portlet--full-height{
	padding: 15px;
}
.tbl-track{
	margin-top: 15px;
}

.customer-list ul{
	padding-left: 0px;
	list-style: none;
}
.customer-list ul li{
	display: grid;
	border-bottom:  1px solid #f0f0f0;
	padding-top: 7px;
}
.customer-list ul li:last-child{
	border-bottom: 0px;
}
.cus-list .m-portlet{
	padding: 15px;
}
.menu-order-horizotal ul li .menu-child-pages li{
	float: left;
	list-style: none;
	display: contents !important;
}
.menu-order-horizotal ul li .menu-child-pages{
	position: absolute;
    z-index: 1;
    border-radius: 5px;
    padding-left: 0px !important;
    width: auto;
    margin-left: 20px;
    background: #ffffff;
    box-shadow: 5px 2px #f0f0f0;
}
.m-form.m-form--fit.m--margin-bottom-20{
	width: 100%;
    background: #f2f3f8;
    margin: 0px 15px;
    padding: 20px;
    border-radius: 5px;
}

#table-bill-listing tr td,
#table-bill-listing tr th{
	text-align: center;
	white-space: nowrap;
}
#table-bill-listing tr td:nth-child(4){
	text-align: left;
	white-space: nowrap;
}
.attachment-info{
	font-size: 12px;
}
.ul-provider{
	padding-left: 0px;
	list-style: none;
	width: 100%;
}

.ul-provider li ul{
	list-style: none;
	padding-left: 20px;
	/*display: none;*/
}

.ul-provider li a{
	text-decoration: none;
	color: #575962;
}

.ul-provider li a span{
	padding-left: 6px;
}
.m-wrapper-provider{
	border: 1px solid #f0f0f0;
	padding: 20px;
	max-height: 100vh;
	overflow: auto;
	box-shadow: 0 1px 15px 1px rgba(69,65,78,.08);
    background-color: #fff;
}
.ul-provider li a{
	padding-top: 5px;
}

.ul-provider li small{
	background: #35bfa3;
    border-radius: 3px;
    padding: 1px 10px;
    margin-top: 8px;
    color: #fff;
    cursor: pointer;
}
.tbl-pickup tr th, .tbl-pickup tr td{
	white-space: nowrap;
}
.tbl_orders tr td{
	white-space: nowrap;
}
.text__white{
	color: #ffffff !important;
}

.services .head__caption{
	display: flex;
}

.services .head__caption a{
    right: 45px;
    position: absolute;
    top: 15px;
}
.item__modal{
    padding: 15px;margin-bottom:10px;background-color: #f0f0f0
}
.header_detail {
    background-color: #f0f1f7;
    padding: 10px;
    padding-bottom: 20px;
    /*text-transform: uppercase;*/
    color: #000000;
    vertical-align: middle;
    align-items: center;
}
.info__bill{
	border-bottom: 1px solid #f0f0f0;
}
.info__bill table{
	margin-bottom: 0px;

}
.info__bill table tr td{
    border-right: 1px solid #f0f0f0;
}
.item__table{
	padding: 15px;
	background-color: #f0f0f0;
}
.item__table table{
	background-color: #ffffff;
}