.container-padding-20 {
	padding: 20px;
}
.format-text {
    word-wrap: break-word;
}
.news-body, .news-footer {
	padding-top: 20px;
}
.page-title {
    background: url(images/page_title_bg.png) no-repeat left center;
    background-size: cover;
    padding: 70px 0;
}
.page-title h2.title {
    margin: 0 0 25px;
    font-size: 50px;
    color: #fff;
    font-weight: bold;
    line-height: 1.26;
}
.positions-title {
	padding-bottom: 20px;
}
